<main>
        <form action="/login" method="POST" id = "login-form">
        <label for = "emailInput" id = "email-text">
            Email Address:
                </label>
              <input type="email" name="emailInput" id = "emailInput">
          <br>  
         <label for = "passwordInput" id = "password-text">
            Password:
                </label>
              <input type="password" name="passwordInput" id = "passwordInput">
        <br>  
        <button type="submit" >submit </button>
    </form>
    <div id="links">
    <a href="/signUp" id="signUpLink">Click here to sign up!</a>
    </div>
</main>