<nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center sticky-top">
    <div class="container-fluid">
        <div class="navbar-header text-light">
            WebSite Name
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="/signup" class="nav-link">Register</a></li>
        </ul>
    </div>
</nav>

<div class="card m-4 p-2 border-info rounded-lg shadow-lg bg-success text-dark font-weight-bold d-inline-block">
    You've been logged out!
</div>