<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top mb-4">
    <div class="container-fluid">
        <h1 class="navbar-header text-light mx-auto">
            WebSite Name
        </h1>
    </div>
</nav>

<div class="d-flex aligns-items-center justify-content-center text-center mx-auto my-auto">
    <main class="card mt-3 ml-3 border-info rounded-lg shadow-lg p-4 d-inline-block">    
        <form action="{{details.url}}" method="post" id="profileSetUp-form">
            <label for="nameInput" id ="name-text">Full Name:</label>
            <input type="text" id = "nameInput" name="nameInput"><br>
            <label for ="phoneInput"id ="phone-number"> Phone:</label>
            <input type="number" id = "phoneInput" name="phoneInput"> <br>
            <label for ="emailIdInput"id ="email-text"> Email address:</label>
            <input type="email" id = "emailIdInput" name="emailIdInput" value="{{details.emailId}}" readonly> <br>

            {{#if details.user}}
            <label for="typeofGovernmentIdInput" id = "typeOfId-dropdown">Government ID:</label>
                <select name="typeofGovernmentIdInput" id="typeofGovernmentIdInput">
                <option value="ssn">SSN</option>
                <option value="driverLicense">Driver's License</option>
                <option value="val3">val 3</option>
                </select> 
            <label for ="governmentIdInput"id ="government-text"> valid GovernmentID number:</label>
            <input type="text" id = "governmentIdInput" name="governmentIdInput"> <br> 
            
            <label for ="dobInput"id ="dob-date"> Date of birth:</label>
            <input type="Date" id = "dobInput" name="dobInput"> <br> 
            <label for="genderInput" id ="gender-dropdown">Legal Gender:</label>
                <select name="genderInput" id="genderInput">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
                </select> 
            {{/if}}

            {{#if details.entity}}
            <label for ="roleInput"id ="role-text">Role:</label>
            <input type="role" id = "roleInput" name="roleInput" value="{{details.role}}" readonly> <br>

            <label for ="websiteInput"id ="website-text">Website: </label>
            <input type="url" id = "websiteInput" name="websiteInput"> <br> 
            <label for ="licenseInput"id ="license-text">License: </label>
            <input type="text" id = "licenseInput" name="licenseInput"> <br> 
            {{/if}}
            <button type="submit">Submit </button>
        </form> 
        <ul id="error"></ul>  
        <script src="/public/js//profileSetUp.js"></script>
    {{#if hasError}}
      <ul>
        {{#each error}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
</main>
</div>