<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top mb-4">
  <div class="container-fluid">
    <h1 class="navbar-header text-light mx-auto">
      WebSite Name
    </h1>
  </div>
</nav>

<div class="d-flex aligns-items-center justify-content-center text-center mx-auto my-auto">
  <main class="card mt-3 ml-3 border-info rounded-lg shadow-lg p-4 d-inline-block">
    <form action="/signUp" method="POST" id="signUp-form">
      <label for="emailInput" id="email-text">
        Email Address:
      </label>
      <input type="email" name="emailInput" id="emailInput">
      <br>
      <label for="passwordInput" id="Password-text">
        Password:
      </label>
      <input type="password" name="passwordInput" id="passwordInput">
      <br>
      <label for="rePasswordInput" id="rePassword-text">
        Confirm Password:
      </label>
      <input type="password" name="rePasswordInput" id="rePasswordInput">
      <br>
      <label for="roleInput">Role:</label>
      <select name="roleInput" id="roleInput">
        <option value="user">User</option>
        <option value="landSurveyor">Land Surveyor</option>
        <option value="titleCompany">Title Company</option>
        <option value="government">Government</option>
      </select>
      <br>
      <br>
      <button class="btn" type="submit" style="background-color: #008c00; color:black">Submit</button>
    </form>
    <div id="links">
      <a class="text-dark" href="/login" id="loginLink">Already have an account? Click here to Login</a>
    </div>
    <ul id ="error"></ul>
    {{#if hasError}}
    <ul>
      {{#each error}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}
  </main>
</div>
<script src="/public/js/authentication.js"></script>