<main>
        <form action="/signUp" method="POST" id = "login-form">
        <label for = "emailInput" id = "email-text">
            Email Address:
                </label>
              <input type="email" name="emailInput" id = "emailInput">
          <br>  
        <label for = "passwordInput" id = "Password-text">
            Password:
                </label>
              <input type="password" name="passwordInput" id = "passwordInput">
        <br> 
         <label for = "rePasswordInput" id = "rePassword-text">
            Confirm Password:
                </label>
              <input type="password" name="rePasswordInput" id = "rePasswordInput">
        <br> 
        <label for="roleInput">Role:</label>
        <select name="roleInput" id="roleInput">
          <option value="user">User</option>
          <option value="landSurveyor">Land Surveyor</option>
          <option value="titleCompany">Title Company</option>
          <option value="government">Government</option>
        </select>
     
        <button type="submit">Submit </button>
    </form>
    <div id="links">
    <a href="/login" id="loginLink">Already have an account? click here to login</a>
    </div>

    {{#if hasError}}
    
    {{/if}}
</main>