<main>
        <form action="/signUp" method="POST" id = "login-form">
        <label for = "emailInput" id = "email-text">
            Email Address:
                </label>
              <input type="email" name="emailInput" id = "emailInput">
          <br>  
        <label for = "passwordInput" id = "Password-text">
            Password:
                </label>
              <input type="password" name="passwordInput" id = "passwordInput">
        <br> 
         <label for = "rePasswordInput" id = "rePassword-text">
            password:
                </label>
              <input type="password" name="rePasswordInput" id = "rePasswordInput">
        <br> 
     
        <button type="submit" >submit </button>
    </form>
    <div id="links">
    <a href="/login" id="loginLink">Already have an account? click here to login</a>
    </div>
</main>