<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top mb-4">
    <div class="container-fluid">
        <h1 class="navbar-header text-light mx-auto">
            TradeMyProperty
        </h1>
    </div>
</nav>

<h1>We're sorry...</h1>
<p>But your account has been rejected.</p>
<br>
<p>Don't be disheartened, reach out to our admin at admin@stevens.edu to get your answers!</p>

<form action="/logout" id="updateProfile" class="form-check" method="get">
<div class="d-grid gap-2 d-md-block">
    <button type="submit" name="update" id="updateButton" class="btn btn-dark text-light">Click here to logout!</button>
</div>
</form>