<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top mb-4">
    <div class="container-fluid">
        <h1 class="navbar-header text-light mx-auto">
            WebSite Name
        </h1>
    </div>
</nav>

<h1>We're sorry...</h1>
<p>But your account has been rejected.</p>
<br>
<p>Don't be disheartened, reach out to our admin at admin@stevens.edu to get your answers!</p>