<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top mb-4">
    <div class="container-fluid">
        <h1 class="navbar-header text-light mx-auto">
            WebSite Name
        </h1>
    </div>
</nav>
<h1>Thank you!</h1>
<p>Please wait 48-72 hours for admin to approve your account.</p>
<br><br><br>
<a href="/logout">Click here to logout!</a>