<div class="card m-4 pt-2 border-info rounded-lg shadow-lg text-dark">
    {{#if hasError}}
    <ul class="error">
        {{#each error}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div>