/* CSS file */

*{
    font-family:'Segoe UI', "Tahoma", "Geneva", "Verdana", "sans-serif";
}

#links a:hover{
    color: rgb(0, 0, 255);
}

a:visited {
    color:brown;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

span.status-approved {
    color: #218838;
}

span.status-pending {
    color: rgb(95, 0, 150);
}

span.status-rejected {
    color: #c82333;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* form {
    background-color: antiquewhite;
    border-style: dotted;
    border-color: aqua;
} */

input {
    border-color: #ff0000;
}

#transactionsList a:hover{
    color: rgb(0, 0, 255);
}

a:visited {
    color:brown;
}

#transactionsList {
    border-style: solid;
    border-color: black;
}

#noWork {
    border-style: dotted;
    border-color: grey;
    background-color: bisque;
}

#land {
    border-style: solid;
    border-color: black;
}

#seller {
    border-style: solid;
    border-color: black;
}

#buyer {
    border-style: solid;
    border-color: black;
}